<main>
  <div class="container card" >
    <div class="row">
      <div class="col-12 col-sm-7">
        <%= image_tag @store.image, class: "img-size"  %>
      </div>
      <div class="col-12 col-sm-5">
        <div class="card-body">
          <h5 class="card-title">店舗名: <%= @store.store_name %></h5>
          <p class="card-text">住所: <%= @store.address %></p>
          
          <p class="card-text">電話番号: <%= @store.phone_number %></p>
          
          <p class="card-text">営業時間: <%= @store.time %></p>
          <p class="card-text">定休日: <%= @store.day %></p>
          <p class="card-text">料金: <%= @store.price %></p>
          
          <p class="card-text">艇庫: <%= @store.boat_house %></p>
          <p class="card-text">県: <%= @store.prefecture %></p>
        </div>
      </div>
      <% if logged_in? %>
      <%= render 'shared/favorite' %>
      <% end %>
    </div>
    <%= flash[:notice] %>
    <div class='row'>
    <div class="col-12 col-sm-6">
      <%= render 'stores/post_create'%>
    </div>
    <div class="col-12 col-sm-6">
      <%= render 'stores/post_index', microposts: @microposts %>
    </div>
    </div>
    <%= link_to '戻る', :back %>
  </div>
</main>
