<%= provide(:page_title, 'user index') %>
<%= form_with url: search_users_path, method: :get, local: true do |f| %>
  <%= f.text_field :user_search %>
  <%= f.submit :search %>
<% end %>

<div class="index">
<% @users.each do |user| %>
  <%= user.name %>
  <%= image_tag user.avatar.variant(:thumb) if user.avatar.attached?%>
  <% if current_user.admin? %>
    <%= link_to 'delete', user, data: { 'turbo-method': :delete, turbo_confirm: "You sure?" } %>
  <% end %>
<% end %>
</div>
